.contact-box {
  width: 1000px;
  height: 300px;
  margin: 7rem auto;
  padding: 3rem;
  border-radius: 25px;
  background-color: rgba(0, 0, 0, 0.5);
  border: 1px solid rgba(255, 255, 255, 0.2);
  box-shadow: 0 0 10px #0051ff;
  margin-top: 3rem;
  display: flex;
  align-items: center;
}

.left {
  width: 300px; /* ให้โลโก้ใช้ความกว้างคงที่ */
  display: flex;
  justify-content: center;
  align-items: center;
}

.left img {
  width: 40%; /* ปรับตามต้องการ */
  height: auto;
}

.right {
  flex: 1; /* ช่องข้อความขยายเต็มที่ */
  display: flex;
  align-items: center;
}

.contact {
  color: aliceblue;
  font-size: 40px;
  font-family: 'Noto Sans Thai', sans-serif;
  font-weight: 700;
  margin: 0;
  white-space: nowrap;
}

.contactGmail{
  color: aliceblue;
  font-size: 40px;
  font-family: 'Noto Sans Thai', sans-serif;
  font-weight: 700;
  margin: 0;
  white-space: nowrap;
  margin: 7rem auto;
}

.contact-box-Line {
  width: 1000px;
  height: 300px;
  margin: 7rem auto;
  padding: 3rem;
  border-radius: 25px;
  background-color: rgba(0, 0, 0, 0.5);
  border: 1px solid rgba(255, 255, 255, 0.2);
  box-shadow: 0 0 10px #00ff11;

  display: flex;
  align-items: center;
}

.contact-box-Gmail {
  width: 1000px;
  height: 300px;
  margin: 7rem auto;
  padding: 3rem;
  border-radius: 25px;
  background-color: rgba(0, 0, 0, 0.5);
  border: 1px solid rgba(255, 255, 255, 0.2);
  box-shadow: 0 0 10px #ff0d00;

  display: flex;
  align-items: center;
  
}
.contact-box-Call {
  width: 1000px;
  height: 300px;
  margin: 7rem auto;
  padding: 3rem;
  border-radius: 25px;
  background-color: rgba(0, 0, 0, 0.5);
  border: 1px solid rgba(255, 255, 255, 0.2);
  box-shadow: 0 0 10px #06702f;

  display: flex;
  align-items: center;
}



.contact-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem; /* ✅ ระยะห่าง 1rem ระหว่างแต่ละกล่อง */
  }

@media screen and (max-width :932px) {

   .contact-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem; /* ✅ ระยะห่าง 1rem ระหว่างแต่ละกล่อง */
  }

  .contact-box{
    width: 300px;
  height: 150px;
  margin: 7rem auto;
  padding: 3rem;
  margin-top: 1rem;
  margin: 2rem auto;
  }
  .contact{
   font-size: 15px;
  }
  .contactGmail{
   font-size: 8px;
  }

  .contact-box-Line{
    width: 300px;
  height: 150px;
  margin: 2rem auto;
  padding: 3rem;
  
  
  }

  .contact-box-Gmail{
    width: 300px;
  height: 150px;
  margin: 2rem auto;
  padding: 3rem;
  
  }

  .contact-box-Call{
    width: 300px;
  height: 150px;
  margin: 2rem  auto;
  padding: 3rem;
   
  }
  .left img{
    width: 50%; /* ปรับตามต้องการ */
  height: auto;
  }
}

