
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.p1{
    font-family: 'Pridi', serif;
  line-height: 1.6;
color: #ffffff;
    font-size: 30px;
    margin-top: 3rem;
    margin-left: 20rem;
    text-shadow:  0 0 10px #00ff88;;
}


@media screen and (max-width :932px) {
   .p1{
    font-size: 20px;
     margin-left: 3rem;
   }
}
