@import url('https://fonts.googleapis.com/css2?family=Athiti:wght@200;300;400;500;600;700&family=Charm:wght@400;700&family=Mitr:wght@200;300;400;500;600;700&family=Niramit:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&family=Prompt:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Sriracha&display=swap');



.time-container {
  white-space: nowrap;
  overflow: hidden;
  box-sizing: border-box;
  padding: 10px;
  background-color: rgb(65, 163, 56);
  width: 100%;
  color: rgb(255, 252, 252);
    font-family: "Athiti", sans-serif;
  font-weight: bold;
}

.marquee-text {
  display: inline-block;
  padding-left: 100%;
  animation: marquee 15s linear infinite;
}

@keyframes marquee {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(-100%, 0);
  }
}


@media screen and (max-width :932px) {
   .time-container{
    width:100%;
   
    padding: 10px 50%;
    font-size: 10px;
     font-family: 'Pridi', serif;
  line-height: 1.6;
  align-items: center;
  display: flex;
  justify-content: center;
   }
}